<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <form action="/user/update" method="post">
        <p>Edit this user:</p>
        <input type="text" name="username" placeholder="<%= user.properties.username %>" required />
        <input type="submit" value="Update"/>
    </form>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (user.properties.localEmail) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.properties.localEmail %><br>
                        <strong>password</strong>: <%= user.properties.localPassword %>
                    </p>
                    
                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div>

        <!-- FACEBOOK INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>

                <!-- check if the user has this token (is the user authenticated with this social account) -->
                <% if (user.properties.facebookToken) { %>
                    <p>
                        <strong>id</strong>: <%= user.properties.facebookId %><br>
                        <strong>token</strong>: <%= user.properties.facebookToken %><br>
                        <strong>email</strong>: <%= user.properties.facebookEmail %><br>
                        <strong>name</strong>: <%= user.properties.facebookName %><br>
                    </p>

                    <a href="/unlink/facebook" class="btn btn-primary">Unlink</a>
                <% } else { %>
                    <a href="/auth/facebook" class="btn btn-primary">Connect Facebook</a>
                <% } %>

            </div>
        </div>
    </div>
    <div class="row">

        <!-- TWITTER INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-info"><span class="fa fa-twitter"></span> Twitter</h3>

                <% if (user.properties.twitterToken) { %>
                    <p>
                        <strong>id</strong>: <%= user.properties.twitterId %><br>
                        <strong>token</strong>: <%= user.properties.twitterToken %><br>
                        <strong>display name</strong>: <%= user.properties.twitterDisplayName %><br>
                        <strong>username</strong>: <%= user.properties.twitterUsername %>
                    </p>

                    <a href="/unlink/twitter" class="btn btn-info">Unlink</a>
                <% } else { %>
                    <a href="/auth/twitter" class="btn btn-info">Connect Twitter</a>
                <% } %>

            </div>
        </div>
    </div>

    <div class="text-center">
        <p>A demo by <a href="http://scotch.io">Scotch</a>.</p>
        <p>Visit the <a href="http://scotch.io/tutorials/javascript/easy-node-authentication-setup-and-local">tutorial</a>.</p>
    </div>

</div>
</body>
</html>